.bg-blog {
    background: linear-gradient(rgba(8, 8, 8, 0), rgba(8, 8, 8, 0.5)), url("../images/img-bg-blog.jpg");
    background-position: bottom;
    background-size: cover;
    height: 60vh;
}

.detail-blogContent {
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 45px;
}

.card-img-top {
    border-top-left-radius: var(--bs-card-inner-border-radius);
    border-top-right-radius: var(--bs-card-inner-border-radius);
    max-height: 165px;
}


/*** Feature ***/

.feature-item {
    transition: .5s;
}

.feature-item:hover {
    margin-top: -15px;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .08);
}

.bg1 {
    height: auto;
}

@media screen and (max-width: 576px) {}
