.bg1 {
    height: auto;
}

.blog-content {
    background: #fff;
    margin: 30px 0px;
    padding: 20px 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.head-blog-whoPost {
    display: flex;
}

.head-blog-whoPost>.user {
    display: flex;
    width: 60%;
    justify-content: start;
    align-items: center;
}

.head-blog-whoPost>.user>img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin-right: 10px;
}

.head-blog-whoPost>.user>span {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-height: 50px;
    width: 60%;
}

.head-blog-whoPost>.post-date {
    display: flex;
    width: 40%;
    justify-content: end;
    align-items: center;
}

.post-date>span {
    text-align: right;
}

.tags {
    display: flex;
    margin: 15px 0px;
}

.tags>a {
    margin: 5px;
    padding: 10px;
    background-color: #d9d9d9;
    border-radius: 3px;
    color: #000000;
}

.tags>a:hover {
    color: #007299;
}

.img-blogHead>img {
    width: 100%;
    height: auto;
    margin: 15px 0px;
}

.blog-detail {
    margin-top: 10px;
    margin-bottom: 30px;
}

.hot-blog {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: left;
    line-height: 25px;
    cursor: pointer;
}

.hot-blog>img {
    width: 100%;
    height: auto;
    max-height: 250px;
}

.hot-blog>span {
    margin: 5px 0px;
}

.hot-blog>p {
    margin-bottom: 15px;
    border-bottom: 1px solid transparent;
}

.hot-blog>p:hover {
    margin-bottom: 15px;
    border-bottom: 1px solid #007299;
}

@media (max-width: 820px) {
    .head-blog-whoPost>.user>img {
        overflow: hidden;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
    }
}

@media (max-width: 450px) {
    .head-blog-whoPost>.user>img {
        overflow: hidden;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
    }
}