nav {
    border-radius: 50px;
    height: 80px;
    margin: 10px 2rem -90px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn-trial {
    border: 1px solid #FE645A;
    border-radius: 50px;
    background-color: #FE645A;
    color: white !important;
    font-size: 16px !important;
    width: 250px;
    text-align: center;
    transition: all .4s ease-in-out;
}

.btn-trial:hover {
    background-color: white;
    color: #FE645A !important;
    
}

.dropdown-menu {
    --bs-dropdown-min-width: unset !important;
}

.lang-default {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.sticky-top {
    top: 10px;
}

.nav-item a ,
.dropdown-menu a {
    color: #FE645A;
    font-size: 18px;
}

@media screen and (max-width: 576px) {
    nav {
        margin: 10px 1rem -90px;
        height: 100%;
    }

    .navbar-brand img {
        width: 50px;
    }

    .btn-trial {
        width: 100%;
    }
}

@media screen and (min-width: 577px) and (max-width: 1024px) {
    nav {
        margin: 10px 1rem -86px;
        height: 100%;
    }

    .navbar-brand img {
        width: 50px;
    }

    .btn-trial {
        width: 100%;
    }
}