.img-content-features {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-feature {
    background-color: #FFFFFF;
}

.sub-items1 {
    border: 1px dashed rgba(0, 0, 0, 0.1);
    border-top: unset;
    height: 100%;
    cursor: default;
}

.sub-items2 {
    border: 1px dashed rgba(0, 0, 0, 0.1);
    border-bottom: unset;
    height: 100%;
    cursor: default;
}