footer {
    color: white;
}

footer a {
    color: white;
}

footer a:hover {
    color: rgba(255, 255, 255, 0.7);
}

footer ul {
    padding: 0;
}
.img-container {
    width: 200px;
    height: auto;
}

.img-container img {
    width: 100%;
}

.fourth-container {
    padding: 0 30px;
}

footer .input-group>button {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

footer .input-group>input {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}