body {
    background-color: #F5F5F5;
}

.authincation-content {
    box-shadow: none;
}

.height-page-login {
    height: 100vh;
}

@media screen and (max-width: 576px) {
    .height-page-login {
        height: 100vh;
    }
    .container {
        background-color: #fff;
    }
}